@font-face {
    font-family: Railway;
    src: url('../fonts/railway/raleway-regular.ttf');
}
@font-face {
    font-family: Railway-Bold;
    src: url('../fonts/railway/raleway-bold.ttf');
}
@font-face {
    font-family: Open-Sans;
    src: url('../fonts/open_sans/opensans-regular.ttf');
}
body {
    font-family: Raleway,sans-serif !important;
}
.main-container {
    display: flex;
}
.drawer {
    border-left: 1px #dee2e6 solid;
    width: 0px;
}
.drawer .header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.drawer .header .title {
    margin-top: 20px;
    font-size: 16px;
}
.drawer .body {
    display: none;
}
.container-nearest-addresses .list-group-item {
    text-align: left;
    padding: 0px !important;
    font-size: 12px;
    color: #fff !important;
    cursor: pointer;
}
.container-nearest-addresses .list-group-item:hover {
    opacity: 0.8;
}
.container-nearest-addresses .list-group-item img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.container-nearest-addresses .list-group-item .deal-row {
    position: absolute;
    top: 0px;
    margin: 15px;
    font-weight: 700;
}
.container-nearest-addresses .list-group-item .deal-row i {
    font-size: 16px;
    margin-top: -3px;
}
.container-nearest-addresses .list-group-item .deal-wrapper {
    position: absolute;
    bottom: 0px;
    margin: 12px;
}
.container-nearest-addresses .list-group-item .deal-title {
    font-size: 16px;
    line-height: 26px;
}
.nearest-address-list {
    max-height: 450px;
    overflow: auto;
    margin-bottom: 0px !important;
}
.container {
    width: 300px !important;
    height: auto !important;
    padding: 15px !important;
    text-align: center;
}
.btn-login {
    width: 270px !important;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 10px 30px !important;
}
.btn-logout {
    width: 270px !important;
    margin-top: 15px;
    padding: 10px 30px !important;
}
.btn-logout-grey {
    width: 270px;
    padding: 0px;
    margin-top: 20px;
    background: #fff !important;
}
.btn-cancel {
    margin-top: 10px;
    background: #fff !important;
}
.btn-forgot {
    background: #fff !important;
}
.btn-signup {
    color: #31cce5;
    background: #fff !important;
}
.btn-open-map {
    color: #31cce5;
    cursor: pointer;
    text-decoration: none !important;
}
.btn-add {
    width: 270px !important;
    margin-top: 0px !important;
    padding: 10px 30px !important;
    display: none;
}
.btn-help {
    color: rgb(98, 124, 129);
    float: left;
    font-size: 22px;
    cursor: pointer;
    line-height: normal !important;
}
.btn-purchase {
    width: 270px !important;
    padding: 10px 30px !important;
}
.btn-back {
    cursor: pointer;
}
.btn-back:hover {
    opacity: 0.8;
}
.desc-container {
    display: none;
    padding-left: 7px;
    padding-right: 7px;
}
.btn-container {
    display: grid;
}
.alert-container {
    display: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px !important;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    border-radius: 5px;
}
.alert-container i {
    font-size: 26px;
}
.alert-container .detail {
    margin-left: 15px;
    text-align: left;
}
.alert-container .status {
    font-size: 18px;
    color: #324b50;
}
.alert-container .description {
    font-size: 12px;
    color: #627c81;
}
.message-container {
    display: none;
}
.icon-error {
    color: #b24c63;
}
.icon-success {
    color: #4EE8C3;
}
.btn-add-street-pic {
    display: none;
    cursor: pointer;
}
.btn-add-street-pic:hover {
    opacity: 0.8;
}
.btn-search {
    cursor: pointer;
}
.btn-search:hover {
    opacity: 0.8;
}
.disabled {
    cursor: auto !important;
    opacity: 0.8;
}
.title-confirm-logout {
    font-size: 16px;
    color: #324b50;
}
.description-confirm-logout {
    font-size: 12px;
    color: #627c81;
}
.address-container {
    text-align: left;
    margin-top: 15px;
    display: none;
}
.address-container .title {
    width: inherit;
    font-size: 16px;
    margin-bottom: 0px;
}
.address-list {
    margin-top: 10px;
    margin-bottom: 0px;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0px 1px 1px rgba(0,0,0,.2);
}
.address-list .list-group-item {
    text-align: left;
    padding: 5px 10px;
    font-size: 12px;
}
.input-email .input-group,
.input-password .input-group {
    width: 270px;
}
.input-email .input-group-addon,
.input-password .input-group-addon {
    width: 45px !important;
    padding: 0px !important;
}
/* .input-email .input-group-addon {
    font-size: 20px;
}
.input-password .input-group-addon {
    font-size: 24px;
} */
.input-email {
    margin-top: 10px;
}
.input-password {
    margin-top: 10px;
}
.deal-primary-button {
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 200 !important;
    font-family: Raleway,sans-serif !important;
    text-align: center !important;
    line-height: normal !important;
    padding: 7px 30px;
    border-radius: 5px !important;
    border: none !important;
    -ms-flex-item-align: stretch !important;
    -ms-flex-align: center !important;
    align-self: stretch !important;
    align-items: center !important;
    outline: none !important;
    text-decoration: none !important;
    background: linear-gradient(90deg,#31cce5 0,#1ddbd9) !important;
    background-image: linear-gradient(to right bottom,#31cce5,#26d0e3,#1dd4e1,#19d7dd,#1ddbd9) !important;
}
.deal-primary-button:active, 
.deal-primary-button:focus, 
.deal-primary-button:hover {
    background: #1ddbd9 !important;
    cursor: pointer !important;
}
.deal-secondary-button {
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 200 !important;
    font-family: Raleway,sans-serif !important;
    text-align: center !important;
    line-height: normal !important;
    padding: 7px 30px;
    border-radius: 5px !important;
    border: none !important;
    -ms-flex-item-align: stretch !important;
    -ms-flex-align: center !important;
    align-self: stretch !important;
    align-items: center !important;
    outline: none !important;
    text-decoration: none !important;    
    background: linear-gradient(90deg,#b24c63 0,#a42f49) !important;
}
.deal-secondary-button:active
.deal-secondary-button:focus
.deal-secondary-button:hover {
    background: #fff5ff !important;
    cursor: pointer !important;
}
.deal-image-contain {
    object-fit: contain;
}
.deal-card {
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    border-radius: 5px;
    position: relative;
}
.deal-button {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background: transparent;
    text-decoration: none!important;
    color: inherit!important;
    cursor: pointer;
}
.deal-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.deal-card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.deal-split {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.deal-stretch {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    align-self: stretch;
}
.deal-title {
    font-size: 14px;
    line-height: 26px;
}
.deal-wrapper {
    display: flex;
    flex-direction: column;
}
.deal-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.deal-col-6 {
    width: 50%;
}
.deal-copy {
    font-size: 12px;
    line-height: 18px;
}
.deal-bold {
    font-weight: 600;
}
.plan-container {
    text-align: left;
}
.switchery-small {
    height: 15px !important;
    border-radius: 15px !important;
}
.switchery-small>small {
    width: 15px !important;
    height: 15px !important;
}
.btn-update-plan {
    width: 270px !important;
    margin-top: 10px;
    padding: 10px 30px !important;
    display: none;
}
.btn-start-mailers {
    display: flex;
    padding: 5px 15px;
    border-radius: 20px !important;
}
.btn-start-mailers i {
    margin-right: 5px !important;
    margin-top: -2px !important;
}
.m-l-20 {
    margin-left: 20px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.m-r-20 {
    margin-right: 20px !important;
}
.m-b-20 {
    margin-bottom: 20px !important;
}
.m-l-10 {
    margin-left: 10px !important;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-r-10 {
    margin-right: 10px !important;
}
.m-b-10 {
    margin-bottom: 10px !important;
}
.m-l-5 {
    margin-left: 5px !important
}
.m-t-5 {
    margin-top: 5px !important
}
.m-r-5 {
    margin-right: 5px !important
}
.m-b-5 {
    margin-bottom: 5px !important
}
.m-l-0 {
    margin-left: 0px !important
}
.m-t-0 {
    margin-top: 0px !important
}
.m-r-0 {
    margin-right: 0px !important
}
.m-b-0 {
    margin-bottom: 0px !important
}
.b-b-1 {
    border-bottom: 1px solid rgb(238, 238, 238) !important;
}
.addon-img {
    width: 100px;
    height: 100px;
}
.addon-already-included {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #4EE8C3;
}
.addon-description {
    margin-bottom: 25px;
}

/* modal */
.modal.fade {
    padding-left: 0px !important;
}
.modal-backdrop {
    background-color: gray;
}
.modal-open .modal{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
.modal.fade .modal-dialog {
    transform: translate3d(0, 50vh, 0);
}
.modal.in .modal-dialog {
    transform: translate3d(0, 0, 0);
}
.modal-body {
    padding: 10px !important;
}
.d-flex-row-center {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
}
.btn-undo-confirm, 
.btn-dismiss {
    align-items: center;
    align-self: center;
    text-align: center;
}
.btn-undo-confirm i,
.btn-dismiss i {
    width: 20px;
    height: 20px;
}
.btn-dismiss i {
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.btn-undo-confirm .deal-copy,
.btn-dismiss .deal-copy {
    width: 45px;
}
.btn-undo-cancel {
    margin-top: 10px;
    background: #fff !important;
}
.btn-search-cancel {
    margin-top: 10px;
    background: #fff !important;
}

/* spinner */
.ispinner {
    position: relative;
    width: 20px;
    height: 20px; 
}
.ispinner .ispinner-blade {
    position: absolute;
    left: 44.5%;
    top: 37%;
    width: 10%;
    height: 25%;
    border-radius: 50%/20%;
    -webkit-animation: ispinner-fade 1s linear infinite;
    animation: ispinner-fade 1s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused; 
}
.ispinner .ispinner-blade:nth-child(1) {
    -webkit-animation-delay: -1.66667s;
    animation-delay: -1.66667s;
    -webkit-transform: rotate(30deg) translate(0, -150%);
    transform: rotate(30deg) translate(0, -150%); 
}
.ispinner .ispinner-blade:nth-child(2) {
    -webkit-animation-delay: -1.58333s;
    animation-delay: -1.58333s;
    -webkit-transform: rotate(60deg) translate(0, -150%);
    transform: rotate(60deg) translate(0, -150%); 
}
.ispinner .ispinner-blade:nth-child(3) {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    -webkit-transform: rotate(90deg) translate(0, -150%);
    transform: rotate(90deg) translate(0, -150%); 
}
.ispinner .ispinner-blade:nth-child(4) {
    -webkit-animation-delay: -1.41667s;
    animation-delay: -1.41667s;
    -webkit-transform: rotate(120deg) translate(0, -150%);
    transform: rotate(120deg) translate(0, -150%); 
}
.ispinner .ispinner-blade:nth-child(5) {
    -webkit-animation-delay: -1.33333s;
    animation-delay: -1.33333s;
    -webkit-transform: rotate(150deg) translate(0, -150%);
    transform: rotate(150deg) translate(0, -150%); 
}
.ispinner .ispinner-blade:nth-child(6) {
    -webkit-animation-delay: -1.25s;
    animation-delay: -1.25s;
    -webkit-transform: rotate(180deg) translate(0, -150%);
    transform: rotate(180deg) translate(0, -150%); 
}
.ispinner .ispinner-blade:nth-child(7) {
    -webkit-animation-delay: -1.16667s;
    animation-delay: -1.16667s;
    -webkit-transform: rotate(210deg) translate(0, -150%);
    transform: rotate(210deg) translate(0, -150%); 
}
.ispinner .ispinner-blade:nth-child(8) {
    -webkit-animation-delay: -1.08333s;
    animation-delay: -1.08333s;
    -webkit-transform: rotate(240deg) translate(0, -150%);
    transform: rotate(240deg) translate(0, -150%); 
}
.ispinner .ispinner-blade:nth-child(9) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    -webkit-transform: rotate(270deg) translate(0, -150%);
    transform: rotate(270deg) translate(0, -150%); 
}
.ispinner .ispinner-blade:nth-child(10) {
    -webkit-animation-delay: -0.91667s;
    animation-delay: -0.91667s;
    -webkit-transform: rotate(300deg) translate(0, -150%);
    transform: rotate(300deg) translate(0, -150%); 
}
.ispinner .ispinner-blade:nth-child(11) {
    -webkit-animation-delay: -0.83333s;
    animation-delay: -0.83333s;
    -webkit-transform: rotate(330deg) translate(0, -150%);
    transform: rotate(330deg) translate(0, -150%); 
}
.ispinner .ispinner-blade:nth-child(12) {
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
    -webkit-transform: rotate(360deg) translate(0, -150%);
    transform: rotate(360deg) translate(0, -150%); 
}
.ispinner.animating .ispinner-blade {
    -webkit-animation-play-state: running;
    animation-play-state: running; 
}
.ispinner.white .ispinner-blade {
    background-color: white; 
}
.ispinner.gray .ispinner-blade {
    background-color: #8C8C8C; 
}
.ispinner.large {
    width: 35px;
    height: 35px; 
}
.ispinner.large .ispinner-blade {
    width: 8.57143%;
    height: 25.71429%;
    border-radius: 50%/16.67%; 
}
@-webkit-keyframes ispinner-fade {
    0% { opacity: 0.85; }
    50% { opacity: 0.25; }
    100% { opacity: 0.25; } 
}
@keyframes ispinner-fade {
    0% { opacity: 0.85; }
    50% { opacity: 0.25; }
    100% { opacity: 0.25; } 
}
  
